body {overflow:scroll;}
section#grid{}
section#grid article.item{float:left;position:relative;}
section#grid article.item img{float:left;height:100%;margin:0;padding:0;width:100%;}

/*item 1x1 */
section#grid article.1x1{}
section#grid article.1x1 img{}

/*item 1x2 */
section#grid article.1x2{}
section#grid article.1x2 img{}