@charset "utf-8";
/*reset*/
*{margin:0;padding:0;}
header, footer, article, aside, nav, section {display:block}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
a img{border:0;}
body{}